language: java
jdk: openjdk11

addons:
  ssh_known_hosts:
  - ftp.interlis.ch
  apt:
    update: true

branches:
  only:
    - master
    - stable

install: true

script: 
  - if [ $TRAVIS_BRANCH == "stable" ]; then ./gradlew '-Drelease=' build sourcesJar asciidoctorPdf ; fi
  - if [ $TRAVIS_BRANCH != "stable" ]; then ./gradlew build sourcesJar asciidoctorPdf ; fi
  
deploy:
  - provider: script
    skip_cleanup: true
    script: ./gradlew -Drepos_pwd=${repos_pwd} -Drepos_usr=${repos_usr} -Drepos_url=${repos_url} publish
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: ./gradlew -Drepos_pwd=${repos_pwd} -Drepos_usr=${repos_usr} -Drepos_url=${repos_url} '-Drelease=' -Ddownloads_pwd=${downloads_pwd} -Ddownloads_usr=jql_downloads publish uploadBin
    on:
      branch: stable
